<p id="notice"><%= notice %></p>

<div class="container">
  
  <h1 class="text-center">Your Cart</h1>
  <br>
  
  <% if @cart.empty? %>
    <h1>Your cart is empthy</h1>
  <% end %>
  
  <table class="table">
    <% total = 0 %>
    <% @cart.each do |id, quantity | %>
    
    <% item = Item.find_by_id(id) %>
    
    <tr>
      <td>
        <div class="img-thumbnail">
          <%= link_to (image_tag item.image_url, :style => "height:100px"), item %>
        </div>
      </td>
      
      <td>
        <%= link_to item.title, item %>
      </td>
      
      <td>
        <a href="/cart/remove/<%= item.id %>">Remove from Cart</a>
      </td>
      
      <td>
        <%= number_to_currency(item.price, :unit => "€") %>
      </td>
      
      <td>
        <%= quantity %>
      </td>
      
      <td>
        <%= number_to_currency(quantity * item.price, :unit => "€") %>
      </td>
      
    </tr>
    
    <tr> <% total += quantity * item.price %>
      
      
    </tr>
    
    <% end %>
    
    <td>
        Grand Total: <%= number_to_currency(total, :unit => "€") %>
      </td>
    
  </table>
  
  <a href="/checkout" class="btn btn-outline-primary">Checkout</a>
  
  <a href="/clearcart" class="btn btn-outline-primary">Clear Cart</a>
  
</div>
