<div class="container">
  <h1 align="center">Our Categories</h1>
  
  <div class="row">
  
    <% @categories.each do |category| %>
    
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    
      <h1 class="text-center"><%= category.title %></h1>
      <%= link_to (image_tag category.image, :class=> "img-fluid img-thumbnail"), category %>
      <p><%= category.description %></p>
      <p><a href="/category/<%= category.title %>"><%= category.title %></a></p>
    
    </div>
    
    <% end %>
  
  
  
  </div>
</div>